.feature-feature,
.feature-heading {
  gap: var(--dl-space-space-unit);
  display: flex;
}
.feature-feature {
  width: 100%;
  position: relative;
  max-width: 300px;
  align-items: flex-start;
  flex-direction: column;
}
.feature-heading {
  align-items: center;
  flex-direction: row;
}
.feature-icon {
  height: 30px;
  object-fit: cover;
}
.feature-header {
  color: var(--di-color-default);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.feature-description {
  color: var(--di-color-default);
  font-size: 15px;
  font-family: Karla;
  line-height: 27px;
}
@media (max-width: 767px) {
  .feature-feature {
    max-width: 100%;
  }
}
.offer-offer {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}
.offer-image {
  object-fit: cover;
}
.offer-content,
.offer-details {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  flex-direction: column;
}
.offer-details {
  gap: var(--dl-space-space-unit);
  flex: 1;
  justify-content: flex-start;
}
@media (max-width: 991px) {
  .offer-image {
    width: 100%;
  }
}
.guide-guide {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.guide-portrait {
  flex: 1;
  width: 100%;
  object-fit: cover;
  clip-path: circle(50%at 50% 42%);
}
.guide-details {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.guide-name {
  color: var(--di-color-default);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.guide-location {
  font-style: normal;
  font-weight: 500;
}
.guide-root-class-name,
.guide-root-class-name1,
.guide-root-class-name2 {
  flex: 0 0 auto;
}
@media (max-width: 767px) {
  .guide-guide {
    gap: var(--dl-space-space-unit);
  }
  .guide-details {
    gap: 4px;
  }
}
.article-article {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 500px;
  align-items: center;
  flex-direction: column;
}
.article-image {
  width: 100%;
  height: 375px;
  object-fit: cover;
}
.article-content,
.article-heading {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.article-content {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
}
.article-heading {
  gap: var(--dl-space-space-unit);
  justify-content: center;
}
.article-description,
.article-header {
  color: var(--di-color-default);
  max-width: 800px;
}
.article-header {
  width: 100%;
  font-size: 40px;
  font-style: normal;
  font-family: Cormorant Infant;
  font-weight: 600;
  line-height: 60px;
}
.article-description {
  font-family: Lora;
  line-height: 24px;
}
.article-text,
.article-text1 {
  font-style: normal;
  font-weight: 500;
}
@media (max-width: 767px) {
  .article-content {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .article-header {
    font-size: 32px;
    line-height: 38px;
  }
  .article-description {
    font-size: 14px;
    line-height: 21px;
  }
  .article-root-class-name,
  .article-root-class-name1,
  .article-root-class-name2,
  .article-root-class-name3 {
    max-width: 100%;
  }
}
.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.home-hero {
  height: 100vh;
  align-items: center;
}
.home-hero,
.home-main,
.home-tint,
.home-video {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.home-tint,
.home-video {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  justify-content: center;
}
.home-video {
  height: 100%;
  overflow: hidden;
  align-items: center;
}
.home-tint {
  height: 788px;
  align-items: flex-start;
}
.home-pasted-image {
  width: 192px;
  height: 200px;
  margin-left: 20px;
}
.home-content,
.home-navbar {
  width: 100%;
  display: flex;
  align-items: center;
}
.home-content {
  flex: 1;
  flex-direction: column;
}
.home-navbar {
  position: relative;
  min-width: 140px;
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-logo {
  height: 100px;
}
.home-links,
.home-menu {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-links {
  gap: var(--dl-space-space-threeunits);
  margin: 0 0 0 50px;
}
.home-link,
.home-link01 {
  text-decoration: none;
}
.home-hamburger {
  cursor: pointer;
  display: none;
  padding: var(--dl-space-space-unit);
  aspect-ratio: 1;
  border-width: 0;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.3);
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-logo1 {
  height: 33px;
}
.home-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text02,
.home-text03,
.home-text04,
.home-text05,
.home-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.home-login {
  margin-right: var(--dl-space-space-twounits);
}
.home-content01,
.home-feaures {
  width: 100%;
  display: flex;
  justify-content: center;
}
.home-feaures {
  z-index: 100;
  background-color: var(--di-color-fractures);
  padding: 40px;
  align-items: center;
  flex-direction: column;
}
.home-content01 {
  gap: 140px;
  align-items: flex-start;
  flex-direction: row;
}
.home-heading,
.home-main1,
.home-quick-view {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-quick-view {
  gap: var(--dl-space-space-fourunits);
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: 120px;
}
.home-heading,
.home-main1 {
  gap: var(--dl-space-space-fiveunits);
}
.home-heading {
  gap: var(--dl-space-space-oneandhalfunits);
  max-width: 900px;
  justify-content: center;
}
.home-caption{
  color: var(--di-color-default);
  text-align: center;
}
.home-find:hover {
  opacity: 0.5;
}
.home-offers {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.home-offer-container{
  width: 100%;
  display: flex;
  text-decoration: none;
}
.home-testimonials {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 120px;
  background-color: var(--di-color-fractures);
}
.home-content02 {
  width: 100%;
  max-width: 900px;
}
.home-content02,
.home-heading01 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-quote {
  color: var(--di-color-default);
  font-size: 40px;
  font-style: italic;
  font-family: "Cormorant Infant";
  font-weight: 600;
  line-height: 48px;
}
.home-author,
.home-details {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-details {
  width: 100%;
  justify-content: space-between;
}
.home-author {
  gap: var(--dl-space-space-twounits);
}
.home-avatar {
  width: 100px;
  clip-path: ellipse(43% 40%at 50% 50%);
}
.home-name {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.home-highlight,
.home-highlights {
  width: 100%;
  display: flex;
  align-items: center;
}
.home-highlights {
  gap: 220px;
  padding-top: 170px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 160px;
}
.home-highlight {
  gap: 120px;
  flex-direction: row;
  justify-content: center;
}
.home-content03,
.home-heading02 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-heading02 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  max-width: 500px;
  justify-content: center;
}
.home-caption01,
.home-header01 {
  color: var(--di-color-default);
  text-align: left;
}
.home-header01 {
  font-size: 60px;
  font-style: normal;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: 60px;
}
.home-caption01 {
  font-size: 18px;
  max-width: 600px;
  font-family: Karla;
  line-height: 27px;
}
.home-text07,
.home-text08 {
  font-style: normal;
  font-weight: 500;
}
.home-image {
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
}
.home-image1 {
  object-fit: cover;
  width: 80%;
  height: 80%;
}
.home-rectangle {
  right: -50px;
  width: 190px;
  bottom: -95px;
  height: 410px;
  position: absolute;
  align-items: center;
  background-color: #1f1239ab;
}
.home-highlight1,
.home-image2,
.home-rectangle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.home-highlight1 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  align-items: center;
}
.home-image2 {
  height: 530px;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
}
.home-image3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-content04,
.home-heading03 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-heading03 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  max-width: 500px;
  justify-content: center;
}
.home-caption02,
.home-header02 {
  color: var(--di-color-default);
  text-align: left;
}
.home-header02 {
  font-size: 60px;
  font-style: normal;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: 60px;
}
.home-caption02 {
  font-size: 18px;
  max-width: 600px;
  font-family: Karla;
  line-height: 27px;
}
.home-find {
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  border-width: 0;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: #fad87a;
}
.home-destinations,
.home-heading04,
.home-video-details {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-destinations {
  gap: var(--dl-space-space-fourunits);
  max-width: 100%;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-fourunits);
}
.home-heading04,
.home-video-details {
  gap: var(--dl-space-space-fiveunits);
}
.home-heading04 {
  gap: var(--dl-space-space-oneandhalfunits);
  max-width: 900px;
  justify-content: center;
}
.home-caption03,
.home-header03 {
  color: var(--di-color-default);
  text-align: center;
}
.home-header03 {
  font-size: 60px;
  font-style: normal;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: 60px;
}
.home-caption03 {
  font-size: 18px;
  max-width: 600px;
  font-family: Karla;
  line-height: 27px;
}
.home-tint1,
.home-video-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-video-wrapper {
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}
.home-video-wrapper:hover {
  opacity: 0.75;
}
.home-tint1 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  pointer-events: none;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
}
.home-image4 {
  width: 115px;
  object-fit: cover;
}
.home-video1 {
  width: 100%;
}
.home-list {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-guides,
.home-heading05 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-guides {
  gap: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-fourunits);
}
.home-heading05 {
  gap: var(--dl-space-space-oneandhalfunits);
  max-width: 900px;
  justify-content: center;
}
.home-caption05,
.home-header04 {
  color: var(--di-color-default);
  text-align: center;
}
.home-header04 {
  font-size: 60px;
  font-style: normal;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: 60px;
}
.home-caption05 {
  font-size: 18px;
  max-width: 600px;
  font-family: Karla;
  line-height: 27px;
}
.home-list1 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}
.home-guide-wrapper,
.home-guide-wrapper1,
.home-guide-wrapper2,
.home-guide-wrapper3 {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
}
.home-articles {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-color: #000;
}
.home-list2,
.home-row {
  gap: var(--dl-space-space-fourunits);
  align-items: flex-start;
}
.home-list2 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.home-row {
  flex-direction: row;
}
.home-row,
.home-row1,
.home-row2 {
  width: 100%;
  display: flex;
}
.home-row1 {
  gap: 130px;
  align-items: flex-start;
  flex-direction: row;
}
.home-row2 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-read-all {
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
}
.home-content06,
.home-faq {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-faq {
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-fourunits);
  background-color: #e8ded5;
}
.home-content06{
  gap: var(--dl-space-space-fiveunits);
}
.home-content08 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  max-width: 700px;
  align-items: flex-start;
  flex-direction: column;
}
e-description1 {
  color: #000;
  font-size: 18px;
  max-width: 800px;
  line-height: 27px;
}
.home-content09 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  max-width: 700px;
  align-items: flex-start;
  flex-direction: column;
}
.home-content10 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  max-width: 700px;
  align-items: flex-start;
  flex-direction: column;
}
.home-content11 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  max-width: 700px;
  align-items: flex-start;
  flex-direction: column;
}
.home-find2{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-find2 {
  gap: var(--dl-space-space-threeunits);
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 1%;
  padding-bottom: var(--dl-space-space-fourunits);
  background-color: var(--di-color-fractures);
}
.home-footer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-content12,
.home-main2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.home-content12 {
  gap: 120px;
  position: relative;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
}
.home-main2 {
  flex-direction: row;
  justify-content: space-between;
}
.home-branding,
.home-heading09 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-branding {
  gap: var(--dl-space-space-threeunits);
  max-width: 400px;
}
.home-heading09 {
  gap: var(--dl-space-space-oneandhalfunits);
}
.home-image5 {
  height: 50px;
  object-fit: cover;
}
.home-caption09 {
  color: var(--di-color-default);
  font-size: 14px;
  line-height: 21px;
}
.home-items,
.home-links1 {
  display: flex;
  align-items: flex-start;
}
.home-links1 {
  gap: 100px;
  flex-direction: row;
}
.home-items {
  gap: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-items1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
span {
  color: var(--di-color-default);
}
.home-items2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-copyright {
  color: #766968;
  font-size: 12px;
}
.home-container4 {
  display: contents;
}
@media (max-width: 991px) {
  .home-links {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-content01 {
    gap: var(--dl-space-space-fourunits);
  }
  .home-quick-view {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-offers {
    grid-template-columns: auto auto;
  }
  .home-highlights,
  .home-testimonials {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-highlights {
    gap: 135px;
    align-items: flex-start;
  }
  .home-highlight,
  .home-highlight1 {
    gap: var(--dl-space-space-twounits);
    align-items: flex-start;
    flex-direction: column;
  }
  .home-highlight1 {
    flex-direction: column-reverse;
  }
  .home-list1 {
    grid-template-columns: auto auto;
  }
  .home-list2,
  .home-row,
  .home-row1 {
    gap: var(--dl-space-space-threeunits);
  }
  .home-content08 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-content09 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-content10 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-content11 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-content12,
  .home-main2 {
    gap: var(--dl-space-space-threeunits);
  }
  .home-main2 {
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-branding {
    max-width: 80%;
  }
  .home-heading09 {
    gap: var(--dl-space-space-unit);
  }
  .home-links1 {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
}
.bg_video,
.videosshow iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
.bg_video {
  right: 0;
  bottom: 0;
  min-width: 25%;
  min-height: 25%;
  z-index: -1;
  aspect-ratio: 16/9;
}
#title-premiuns {
  padding-bottom: 20px;
}
.part2 {
  background-color: #000;
}
.videosshow {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
}
.videosshow iframe {
  border: 0;
}
.iframealbuns {
  width: 80%;
  height: 352px;
}
@media (max-width: 550px) {
  .home-content01 {
    display: flow;
  }
}
@media (max-width: 700px) {
  .home-offers {
    grid-template-columns: auto;
  }
  .iframealbuns {
    width: 80%;
    height: 80%;
  }
  .home-offers {
    grid-gap: var(--dl-space-space-threeunits2);
  }
}
